* @Hirundo-io/hirundo-admins @Hirundo-io/hirundo-dev
#  ⬆️ Allow Admins and Developers to approve PRs with changes to the repository
.github/workflows/ @Hirundo-io/hirundo-admins @Hirundo-io/hirundo-devops
uv.lock @Hirundo-io/hirundo-admins @Hirundo-io/hirundo-devops
#  ⬆️ Allow Admins and DevOps to approve PRs with changes just to GitHub Actions workflows and uv.lock
pyproject.toml
hirundo/__init__.py
docs/_templates/github-pages-redirect.html
docs/conf.py
#  ⬆️ Allow changes to versions, but nothing else without CODEOWNERS
