repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.4
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --show-fixes]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: basedpyright
        name: basedpyright
        entry: basedpyright
        language: python
        types: [python]
        pass_filenames: false
        additional_dependencies: [basedpyright==1.37.1]
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.29
    hooks:
      - id: uv-lock
      - id: uv-sync
        args: ["--all-groups"]
